@media screen and (min-width:1200px){
    
   
    div{
        border: 5px solid grey;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        text-align: left;
        width: auto;
        margin: 1em;
        padding: 0.5em;
        position: relative;
    }

    #parole{
        color: rgba(0, 225, 255, 0.534);
        text-shadow: 1px 1px gray;
        display: inline-block;
    }

     
    #parole:after {
        content:" ";
        animation: spin 20s linear infinite;
        position: absolute;
      }
      
      
      @keyframes spin {
        0%      { content:" \2002 Single page app \2002 "; opacity:0; top: 0px;}
        12.1%   { content:" \2002 Single page app \2002 "; opacity:1; top:147px}
        23.2%   { content:" \2002 Single page app \2002 "; opacity:0; top: 180px;}

        34.3%   { content:" \2002 Interfacce web \2002 "; opacity:0; top: 0px;}
        45.4%   { content:" \2002 Interfacce web \2002 "; opacity:1; top:147px}
        56.5%   { content:" \2002 Interfacce web \2002 "; opacity:0; top: 180px;}

        67.6%   { content:" \2002 App native \2002 "; opacity:0; top: 0px;}
        78.7%   { content:" \2002 App native \2002 "; opacity:1; top:147px}
        to      { content:" \2002 App native \2002 "; opacity:0; top: 180px;}
      }

}
