 /* collegos Bootstrap e Bootstrap Icons */
 @import "../../node_modules/bootstrap/scss/bootstrap.scss";

 @import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


 /* collego il partial della mia funzione  */
 @import "function";


/* - Override di bootstrap - */ 


$back-melanzana: darken(purple, 20%); /* es. di variabili */  /* es. di sass color */
$centra-testo: center;                  /* es. di variabili */
$pad-section: 50px;                     /* es. di variabili */


/* es. di mixin */
@mixin stilePrincipe{
    color: crea-contrasto-sfondo($back-melanzana);
    background-color: $back-melanzana;
    margin-top: 8px;
    padding: 0.5em;
}

/* es. di interpolazione */
@mixin interpolazione($val1, $val2){
    font-#{$val1}: $val2;
}



/* creo un annidamento */
body{

    .navbar{
        background-color: $back-melanzana; /* richiamo variabile */ 
    }

    main{

        #banner div h1{
            @include interpolazione("size", 3em); /* richiamo interpolazione */ 
            
        }

        article{
            
            .container{
                text-align: $centra-testo; /* richiamo variabile */

                .secondi{
                    @include stilePrincipe(); /* richiamo mixin */
                }

                
                .sezione{
                    padding: $pad-section; /* richiamo variabile */
                }
            }    

        }

        section{
            
            

            .brand{
                text-align: $centra-testo; /* richiamo variabile */
                flex-grow: 1;
                padding: 12.8px;
            }
        }

    }    
    aside{
        background-color: $back-melanzana; /* richiamo variabile */
        color: crea-contrasto-sfondo($back-melanzana); /* urilizo la mia funzione su di una mia variabile */

        .slide_carosello{
            height: 270px; 
            
            img{
                border-radius: 50%;
            }
        }
    }
}



/* animazione */

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  